---
export interface Props {
  title: string;
  description: string;
  canonicalURL?: string | URL;
  image?: string;
  schema?: Record<string, any>;
}

const {
  title,
  description,
  canonicalURL = new URL(Astro.url.pathname, Astro.site),
  image = "/favicon.svg",
  schema
} = Astro.props;
---

<!-- SEO Global -->
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />

<!-- Hreflang Tags -->
<link rel="alternate" hreflang="es" href={canonicalURL} />
<link rel="alternate" hreflang="x-default" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- JSON-LD Schema -->
{schema && (
  <script type="application/ld+json" set:html={JSON.stringify(schema)} />
)}